body{
    background-size:cover ;
}
.heading{
    font-size: 23px;
    color: white;
    width: 100%;
    margin: 0px;
}
.note{
    color: black;
    font-size: 15;
}
img{
    width: 200px;
border-radius: 100px;
}
.div_speed{
    float: left;
}
.div_volume{
    float: right;
}
#speed{
    font-size: 30px;
    margin: 40px;
}
#volume{
    font-size: 30px;
    margin: 40px;
}
.play{
    font-size:40px ;
    width:15%;
    border-radius: 25px;
}

canvas{
    border: 6px solid rgb(255, 169, 9);
    border-radius: 30px;
    margin-top: 50px;
}
